<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 특정 DAO 와 연결 -->
 <mapper namespace="com.jwl.spring.ex.mybatis.dao.ReviewDAO">
 	<select id="selectReview" resultType="com.jwl.spring.ex.mybatis.model.Review"
 	parameterType="int">
 		Select
 			`id`
 			, `storeId`
 			, `userName`
 			, `point`
 			, `review`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</select>
 </mapper>